body {

}


.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

header.header {
	background: #ccc;
	padding: 80px 20px;
	text-align: center;
	margin-bottom: 30px;
}

.header .logo {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 58px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 300;
}

.container.small {
	max-width: 900px;
}

#parseYourSite input[type=text] {
    height: 50px;
    font-size: 16px;
    border-radius: 0;
    padding: 0 25px;
}

#parseYourSite [type=submit] {
    height: 50px;
    border-radius: 0;
    background: #3498db;
    border: none;
    font-size: 16px;
    outline: none;
}


.loading {
	text-align: center;
}
.loading img {
	max-width: 400px;
}

.alert {
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 15px 30px;
}

.unvisible{
	display: none;
}